<h1> On index Page</h1>
<%= current_user.applicant_type %> <br> <br>
<% if current_user.applicant_type == "Candidate" %>
    <%= render "partial/candidate" %>
    
<% elsif current_user.applicant_type == "HR" %>
    <%= render "partial/hr" %>
<% else %>
    <%= render "partial/interviewer" %>
<% end %>
