<h1> On index Page</h1>
<%= current_user.applicant_type %> <br> <br>
<% if current_user.applicant_type == "Candidate" %>
    <%= render "partial/candidate" %>
    
<% elsif current_user.applicant_type == "HR" %>
    <%= link_to "All Interview Requests", user_interview_requests_path(current_user) %>
<% else %>
    <%= link_to "All Scheduled Interviews", user_scheduled_interviews_path(current_user) %>
<% end %>
