<h1 style="padding-top:400px; text-align:center; font-size:50px;"> Thank you for sharing your Information, Our Team will contact you soon, keep checking status for more updates </h1>

<%= link_to "Sign OUt", destroy_user_session_path, method: :delete, style:"text-decoration:none" %>