<h1 >

    <% if @user_status== "pending" %>
    We will get to you soon!
    <% elsif @user_status== "rejected" %>
    We're going forward with another candidate! Pls Apply after some time.
    <% elsif @user_status== "scheduled" %>
    Your Appointment is scheduled with Us, CONGO! 
    <% else %>
    Congratulations, You are Appointed with Us, will instruct you everything on the mail 
    <% end %>
</h1>

<%= link_to "Back", root_path %>