// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table-style{
    font-size:18px; 
    padding:10px; 
    padding-left:20px; 
    padding-right:20px;
}

.table-heading-style{
    padding-left:20px; 
    padding-right:20px;
    
}

.table-data-style{
    padding-left:20px;
    padding-right:20px;
    padding-bottom:10px;
    padding-top:20px;
}